body {
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
}

#next-button {
    display: block;
    margin: 20px auto;
}

.input-large {
  width: 200px;
  height: 40px;
}

.input-radio {
  width: 100;
}

.input-small {
  width: 40px;
  height: 40px;
}

#username-container, #question-count-container {
  margin-bottom: 20px;
}

#question-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

#start-quiz {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#start-quiz:hover {
  background-color: #0056b3;
}

label {
  margin-bottom: 20px;
}
